<div class="jumbatron">
<h1>iSell</h1>
<h3>Where people come to buy stuff</h3>
<!-- Add links that look like buttons via bootstrap  -->
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-info" %>

</div>


<!-- Add an About/Contact me page that can be linked through navbar -->
<!-- Add background image? on homepage -->
<!-- Add more prominent sign up and sign in buttons on the homepage -->
